.form-card {
  background-color: $clr-form-bg;
  width: 90vw;
  margin: auto;
  border-radius: 24px;
  padding: 16px;
}

.form-wrapper {
  display: flex;
}

.form-inner {
  padding: 0 64px;
  width: 100%;
}

@media (min-width: 1199px) {
  .form-card {
    width: 800px;
  }
}
