.form-step--second {
  .plans-wr {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 6%;
    margin: 24px 0;
  }

  .plans-month-year-price-switcher {
    background-color: #f8f9fe;
    border-radius: 8px;
    padding: 16px;
  }

}
