// Varaibles
$clr-bg: #eef5ff;
$clr-form-bg: #ffffff;

$clr-button-confirm: #483eff;
$clr-button-next: #03295a;
$clr-button-prev: #fff;

$clr-text-step: #fff;
$clr-step-active: #badef8;

$clr-text-header: #0a3264;
$clr-text: #a1a2a7;

body {
  background-color: $clr-bg;
}
