html, body {
  height: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $clr-bg;
  font-family: $ff-main;
}

* {
  font-family: $ff-main;
}
